{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> مقياس</title>
  <link rel="icon" href="{% static 'blog/logo.png' %}">
  <link rel="stylesheet" href="{% static 'tests/styl2.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
</head>

<body>
  <a id="logo" href=""><img src="{% static 'blog/logo1.png'%}" alt="logo" width="150" height="100"></a>
  <br>
  <br>
  <br>

  <form class="cont" action="index.html" method="post">
    <p>اختر الاجابة اللتي تنطبق عليك (نعم/لا) أجب على كل الاسئلة من فضلك </p>
  </form>

  <form class="test" action="{% url 'tests:anxTest'%}" method="post">
    <br>
    <!-- for_security -->
    {% csrf_token %}
    <div class="row">
      <p class="q">١-نومي مضطرب ومتقطع؟</p>

      <label class="container">
        <input type="radio" checked="checked" name="q1" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q1" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٢-مرت بي أوقات لم أستطع خلالها النوم بسبب القلق؟</p>

      <label class="container">
        <input type="radio" name="q2" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q2" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٣-مخاوفي قليلة جداً بالمقارنة بأصدقائي؟</p>

      <label class="container">
        <input type="radio" name="q3" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q3" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٤-اعتقد أنني أكثر عصبية من معظم الناس؟</p>

      <label class="container">
        <input type="radio" name="q4" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q4" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">٥-تنتابني أحلام مزعجة (أو كوابيس) كل عدة ليالي؟</p>

      <label class="container">
        <input type="radio" name="q5" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q5" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٦- لدي متاعب أحيانا في معدتي؟</p>

      <label class="container">
        <input type="radio" name="q6" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q6" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٧-غالبا ما ألاحظ أن يداي ترتجفان عندما أحاول القيام بعمل ما؟</p>

      <label class="container">
        <input type="radio" name="q7" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q7" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٨-أعاني أحيانا من نوبات إسهال؟</p>

      <label class="container">
        <input type="radio" name="q8" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q8" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">٩- تثير قلقي أمور العمل والعمال؟</p>

      <label class="container">
        <input type="radio" name="q9" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q9" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">١٠-تصيبني نوبات من الغثيان (غمامات النفس)</p>

      <label class="container">
        <input type="radio" name="q10" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q10" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">١١-كثيراً ما أخشى أن يحمر وجهي خجلاً؟</p>

      <label class="container">
        <input type="radio" name="q11" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q11" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">١٢-أشعر بجوع في كل الأوقات تقريباً؟</p>

      <label class="container">
        <input type="radio" name="q12" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q12" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">١٣-أثق في نفسي كثيراً</p>

      <label class="container">
        <input type="radio" name="q13" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q13" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">١٤- أتعب بسرعة</p>

      <label class="container">
        <input type="radio" name="q14" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q14" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">١٥-يجعلني الانتظار عصبياً</p>

      <label class="container">
        <input type="radio" name="q15" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q15" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">١٦-أشعر بالإثارة لدرجة أن النوم يتعذر علي</p>

      <label class="container">
        <input type="radio" name="q16" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q16" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">١٧- عادة ًما أكون هادئاً</p>

      <label class="container">
        <input type="radio" name="q17" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q17" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">١٨-تمر بي فترات من عدم الاستقرار لدرجة أنني لا أستطيع الجلوس طويلا في مقعدي</p>

      <label class="container">
        <input type="radio" name="q18" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q18" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">١٩-لا أشعر بالسعادة معظم الوقت</p>

      <label class="container">
        <input type="radio" name="q19" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q19" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٢٠-من السهل أن أركز ذهني في عمل ما</p>

      <label class="container">
        <input type="radio" name="q20" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q20" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٢١-أشعر بالقلق على شئ ما، أو شخص ما، طوال الوقت تقريبا</p>

      <label class="container">
        <input type="radio" name="q21" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q21" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٢٢- لا أتهيب الأزمات والشدائد</p>

      <label class="container">
        <input type="radio" name="q22" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q22" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">٢٣-أود أن أصبح سعيداً كما يبدو الآخرين</p>

      <label class="container">
        <input type="radio" name="q23" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q23" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٢٤-كثيراً ما أجد نفسي قلقاً على شيء ماً</p>

      <label class="container">
        <input type="radio" name="q24" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q24" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٢٥- أشعر أحياناً وبشكل مؤكد أنه لا فائدة لي</p>

      <label class="container">
        <input type="radio" name="q25" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q25" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">٢٦- أشعر أحياناً أنني أتمزق</p>

      <label class="container">
        <input type="radio" name="q26" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q26" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٢٧- أعرق بسهولة حتى في الأيام الباردة</p>

      <label class="container">
        <input type="radio" name="q27" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q27" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٢٨- الحياة صعبة بالنسبة لي في أغلب الأوقات</p>

      <label class="container">
        <input type="radio" name="q28" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q28" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٢٩- لا يقلقني ما يحتمل أن أقابله من سوء حظ</p>

      <label class="container">
        <input type="radio" name="q29" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q29" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">٣٠- إنني حساس بدرجة غير عادية</p>

      <label class="container">
        <input type="radio" name="q30" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q30" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٣١- لاحظت أن قلبي يخفق بشدة وأحياناً تتهيج نفسي</p>

      <label class="container">
        <input type="radio" name="q31" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q31" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٣٢- لا أبكي بسهولة</p>

      <label class="container">
        <input type="radio" name="q32" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q32" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٣٣- خشيت أشياء أو أشخاص أعرف أنهم لا يستطيعون إيذائي</p>

      <label class="container">
        <input type="radio" name="q33" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q33" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٣٤- لدي قابلية للتأثر بالأحداث تأثراً شديداً</p>

      <label class="container">
        <input type="radio" name="q34" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q34" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٣٥- كثيراً ما أصاب بصداع</p>

      <label class="container">
        <input type="radio" name="q35" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q35" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">٣٦- لابد أن أعترف بأنني شعرت بالقلق على أشياء لا قيمة لها</p>

      <label class="container">
        <input type="radio" name="q36" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q36" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٣٧- لا أستطيع أن أركز تفكيري في شيء واحد</p>

      <label class="container">
        <input type="radio" name="q37" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q37" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٣٨- لا أرتبك بسهولة</p>

      <label class="container">
        <input type="radio" name="q38" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q38" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٣٩- اعتقد أحياناً أنني لا أصلح بالمرة</p>

      <label class="container">
        <input type="radio" name="q39" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q39" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="row">
      <p class="q">٤٠- أنا شخص متوتر جداً</p>

      <label class="container">
        <input type="radio" name="q40" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q40" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٤١- أرتبك أحياناً بدرجة تجعل العرق يتساقط مني بصورة تضايقني جداً</p>

      <label class="container">
        <input type="radio" name="q41" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q41" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٤٢- يحمر وجهي خجلاً بدرجة أكبر عندما أتحدث للآخرين</p>

      <label class="container">
        <input type="radio" name="q42" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q42" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٤٣- أنا أكثر حساسية من غالبية الناس</p>

      <label class="container">
        <input type="radio" name="q43" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q43" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٤٤- مرت بي أوقات شعرت خلالها بتراكم الصعاب بحيث لا أستطيع التغلب عليها</p>

      <label class="container">
        <input type="radio" name="q44" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q44" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٤٥- أكون متوتراً للغاية أثناء القيام بعمل ما</p>

      <label class="container">
        <input type="radio" name="q45" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q45" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٤٦- يداي وقدماي باردتان في العادة</p>

      <label class="container">
        <input type="radio" name="q46" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q46" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٤٧- أحيانا أحلم بأشياء أفضل الاحتفاظ بها لنفسي</p>

      <label class="container">
        <input type="radio" name="q47" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q47" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٤٨- لا تنقصني الثقة بالنفس</p>

      <label class="container">
        <input type="radio" name="q48" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q48" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٤٩- أصاب أحيانا بالإمساك</p>

      <label class="container">
        <input type="radio" name="q49" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q49" value="0">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <p class="q">٥٠- لا يحمر وجهي أبداً من الخجل</p>

      <label class="container">
        <input type="radio" name="q50" value="1" required>
        <span class="checkmark"></span>
        <p class="ans">نعم</p>
      </label>
      <label class="container">
        <p class="ans">لا
        </p>
        <input type="radio" name="q50" value="0">
        <span class="checkmark"></span>
      </label>
    </div>

    <button class="button" type="submit" name="next" style="cursor: pointer;">التالي</button>
  </form>

  <br><br><br><br>


</body>
</html>