{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> {{detail}} </title>
  <link rel="icon" href="{% static 'blog/logo.png' %}">
  <link rel="stylesheet" href="{% static 'tests/inidiagstyle.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body >
  <a id="logo" href=""><img src="{% static 'blog/logo1.png' %}" alt="logo" width="150" height="100"></a>
  <nav>
    <div class="col6"> <a href="{% url 'blog:home' %}">الصفحة الرئيسية</a></div>
      <div class="col6"><a href="#whowe">من نحن؟</a></div>
        <div class="col6"><a href="#footer">تواصل معنا</a></div>
            <div class="col7"> <a   id="login" href="#" ></i>تسجيل خروج </a> 
              <img id="login-pho" src="{% static 'blog/login.png' %}" width="50" height="50"></div>
  </nav>
  <br><br><br><br>
 
  <div class="con text-center">
 <form action="#" class="conform">
    <!-- <p class="title"> الفحص الجسدي النفسي</p> -->
    
    <fieldset class="fieldset1">
      <legend class="legend1">التطور النفسي النمائي</legend>
        <div class="row align-items-start">
                  <div class="col order-last ">
                      <select name="arrangementOfPatientInFamily" id="arrangementOfPatientInFamily" class="selects"style="width:10em;">  
                          <option value="normal">الاول</option>
                          <option value="second">الثاني</option>
                          <option value="Third">الثالث</option>
                          <option value="fourth">الرابع</option>
                          <option value="V">الخامس</option>
                          <option value="VI">السادس</option>
                          <option value="VII">السابع</option>
                          <option value="VIII">الثامن</option>
                          <option value="VIIII">التاسع</option>
                          <option value="VV">العاشر</option>
                      </select> 
                      <label for="cars">ترتيب المريض في الأسرة</label>
                    
                  </div>

                  <div class="col">
                      <select name="Pregnancy" id="Pregnancy" class="selects"style="width:10em;">  
                          <option value="Month6">ستة شهور</option>
                          <option value="Month7">سبعة شهور</option>
                          <option value="Month8">ثمانية شهور</option>
                          <option value="Month9">تسعة شهور</option>
                          <option value="Month10">10- شهور</option>
                      </select> 
                      <label for="Pregnancy">مدة الحمل</label>
                  </div>

                  <div class="col order-first">
                      <select name="Pregnancybr" id="Pregnancybr" class="selects" style="width:10em;">
                          <option value="natural">طبيعي</option>
                          <option value="Caesarean">قيصري</option>
                      </select> 
                      <label for="Pregnancy">نوع الولادة</label>
                    </div>
      
              </div>
      <div class="row align-items-start">
        <div class="col order-last">
            <select name="IV1" id="IV1" class="selects"style="width:10em;">  
                <option value="yesAccident">توجد</option>
                <option value="NoAccident">لا توجد</option>
            </select> 
            <label for="cars">  حوادث أثناء الولادة </label> 
        </div>

        <div class="col">
          <select name="IV3" id="IV3" class="selects" style="width:10em;">
            <option value="yesIV3">لايوجد تأخر نمائي</option>
            <option value="NoIV3">يوجد تأخر نمائي</option>
        </select> 
        <label for="Pregnancy"> التاريخ النمائي طفولة</label>
        </div>

        <div class="col ">
          <input type="text" id="IV2" name="IV2" >
            <label for="Pregnancy">اذكر حادثة الولادة</label>
        </div>

          <div class="col order-first">
            <input type="date" id="IV4" name="IV4">
          <label for="IV4">تاريخه </label>
          </div>
        </div>

        <div class="row align-items-start">
          <div class="col order-last">
              <select name="IV5" id="IV5" class="selects" style="width:10em;">
              <option value="yesIV5">لايوجد تأخر نمائي</option>
              <option value="NoIV5">يوجد تأخر نمائي</option>
          </select> 
          <label > التاريخ النمائي مراهقة</label>
          </div>
          <div class="col">
            <select name="IV7" id="IV7" class="selects" style="width:10em;">
              <option value="yesIV3">لايوجد تأخر نمائي</option>
              <option value="NoIV3">يوجد تأخر نمائي</option>
          </select> 
          <label> التاريخ النمائي رشد</label>
          </div>
          <div class="col ">
            <input type="date" id="IV6" name="IV6">
          <label >تاريخه </label>
          </div>

            <div class="col order-first">
              <input type="date" id="IV8" name="IV8">
            <label>تاريخه </label>
            </div>

          </div>

          <div class="row align-items-start">
            <div class="col order-last ">
              <select name="IV9" id="IV9" class="selects" style="width:11em;">
                <option value="NoIV9">لا يوجد</option>
                <option value="yesIV9-1">  التعرض لفقد أشخاص</option>
                <option value="yesIV9-2">  التعرض لخسارة مالية</option>
                <option value="yesIV9-3">  التعرض لإعتداء جنسي</option>
                <option value="yesIV9-4">  التعرض لحوادث معينة</option>
            </select> 
            <label>أحداث راهنة</label>
            </div>

            <div class="col">
              <input type="date" id="IV10" name="IV10">
              <label>تاريخه </label>
            </div>

            <div class="col order-first">
              <input type="text" id="IV11" name="IV11" style="width:14em;">
              <label>مـــلــخــص</label>
              </div>

        </div>
    </fieldset>
    <br>
    <fieldset class="fieldset1">
      <legend class="legend1">مشكلات النوم والطعام</legend>
      <div class="row align-items-start">
        <div class="col order-last">
            <select name="VII1" id="VII1" class="selects"style="width:10em;">  
                <option value="yesVII1">توجد</option>
                <option value="NoVII1">لا توجد</option>
            </select> 
            <label >مشكلات الطعام</label> 
        </div>

        <div class="col">
        <select name="VII3" id="VII3" class="selects"style="width:10em;">  
          <option value="yesVII3">توجد</option>
          <option value="NoVII3">لا توجد</option>
      </select> 
      <label>مشكلات النوم</label>
        </div>

        <div class="col ">
          <select name="VII2" id="VII2" class="selects" style="width:10em;">
            <option value="VII2-1"> نقص الشهيه</option>
            <option value="VII2-2">زيادة الشهيه</option>
            <option value="VII2-2">أخرى</option>
        </select> 
        <label >المــشكلة</label>
        </div>

          <div class="col order-first">
            <input type="text" id="VII4" name="VII4" style="width:14em;">
            <label>المشكلة</label>
          </div>
        </div>

    </fieldset>
    <br>
    <fieldset class="fieldset1">
      <legend class="legend1">الجانب النفسي الجنسي</legend>
      <div class="row align-items-start">
        <div class="col order-last">
            <select name="VIII1" id="VIII1" class="selects"style="width:10em;">  
                <option value="yesVII1">10</option>
                <option value="NoVII1">11</option>
                <option value="yesVII1">12</option>
                <option value="NoVII1">13</option>
                <option value="yesVII1">14</option>
                <option value="NoVII1">15</option>
                <option value="yesVII1">16</option>
                <option value="NoVII1">17</option>
                <option value="yesVII1">18</option>
                <option value="NoVII1">19</option>
                <option value="yesVII1">20</option>
                <option value="NoVII1">21</option>
            </select> 
            <label >السن عند البلوغ</label> 
        </div>
        <div class="col ">
         <input type="text" id="VIII3" name="VIII3" style="width:9em;">
         <label >الناحية البيولوجية الجنسية</label>
        </div>
        <div class="col ">
          <input type="text" id="VIII2" name="VIII2" style="width:9em;">
         <label>حالة البلوغ الجنسي</label>
        </div>

          <div class="col order-first">
            <input type="text" id="VIII5" name="VIII5" style="width:9em;">
            <label>الملـخص</label>
          </div>

      </div>
      <div class="row align-items-start">
        

       
        </div>

    </fieldset>
    <br>
    <fieldset class="fieldset1">
      <legend class="legend1">الجانب النفس الإجتماعي الإقتصادي</legend>
      <div class="row align-items-start">
        <div class="col order-last">
            <select name="V1" id="V1" class="selects"style="width:10em;">  
                <option value="V1-1">أعزب</option>
                <option value="V1-2">متزوج</option>
                <option value="V1-3">مطلق</option>
                <option value="V1-4">أرمل</option>
                <option value="V1-5">منفصل</option>
                <option value="V1-6">أخرى</option>
            </select> 
            <label >الحالة الإجتماعية</label> 
        </div>
        <div class="col ">
         <input type="text" id="V3" name="V3" style="width:9em;">
         <label >عدد الزوجات</label>
        </div>
        <div class="col ">
          <input type="text" id="V2" name="V2" style="width:9em;">
         <label>عدد مرات الطلاق</label>
        </div>
          <div class="col order-first">
            <input type="text" id="V4" name="V4" style="width:9em;">
            <label>عدد الأبناء</label>
          </div>
      </div>
      <div class="row align-items-start">
        <div class="col order-last">
          <select name="V5" id="V5" class="selects"style="width:10em;">  
              <option value="V5-1">مع والديه وإخوته</option>
              <option value="V5-2">مع أبنائه فقط</option>
              <option value="V5-3">مع زوجته وأبنائه</option>
              <option value="V5-4">مع والدته</option>
              <option value="V5-5">مع إخوته</option>
              <option value="V5-6">أخرى</option>
          </select> 
          <label >مع من يعيش</label> 
      </div>
      <div class="col ">
        <select name="V7" id="V7" class="selects"style="width:10em;">  
          <option value="V7-1">مع الوالدين</option>
          <option value="V7-2">يتيم</option>
          <option value="V7-3">دور إيواء </option>
      </select>        
      <label >نوع التنشئة الإجتماعية</label>
      </div>
      <div class="col ">
        <input type="text" id="V6" name="V6" style="width:9em;">
       <label>عدد أفراد الأسرة </label>
      </div>

       </div>

        <div class="row align-items-start">
          <div class="col order-last">
            <input type="text" id="V7" name="V7" style="width:9em;">
            <label >المهنة</label> 
        </div>
        <div class="col ">
          <select name="V9" id="V9" class="selects"style="width:10em;">  
            <option value="V9-1">وظيفة</option>
            <option value="V9-2">الوالد</option>
            <option value="V9-3">الوالدة</option>
            <option value="V9-4">الإخوة</option>
            <option value="V9-5">الأخوات</option>
            <option value="V9-6">أعمال حرة</option>
            <option value="V9-7">جمعيات خيرية</option>
        </select>        
        <label >مصدر الرزق</label>
        </div>
        <div class="col ">
          <select name="V8" id="V8" class="selects"style="width:10em;">  
            <option value="V8-1">منخفض</option>
            <option value="V8-2">متوسط</option>
            <option value="V8-3">مرتفع</option>
        </select> 
         <label>مستوى الدخل</label>
        </div>
      </div>

    </fieldset>
    <br>






    </form>
  </div>

 <br><br><br><br>
 <br><br><br><br>
 <br><br><br><br>
 <br><br><br><br>
 <br><br><br><br>
 <br><br><br><br><br><br><br><br>
 <br><br><br><br>
 <br><br><br><br>
  <footer id="footer"class="footer-distributed">

    <div class="footer-right">
  <a id="logo" href=""><img src="{% static 'blog/logod.png' %}" alt="logo" width="250" height="200"></a>

  <p class="footer-links">
   <a id="h" href="">الصفحات</a>

   <a href="#">الصفحة الرئيسيه </a>

   <a href="#">من نحــن؟</a>

   <a href="#">تواصل معنا</a>
  </p>

      </div>




    <div class="footer-right">



      <p class="footer-links2">
        <a id="h" href="">الخدمات </a>

        <a href="#">اضافة مريض </a>

        <a href="#">المقاييــس النفسية</a>

        <a href="#">سجل المرضـى </a>
      </p>

  </div>
  <p class="footer-links3">
   <a id="h" href=""> :التواصل </a>

   <a href="#">+966 547876876 </a>

  </p>
  <div class="footer-left">
      <div class="footer-icons">
  <br><br>


         <h3>  مواقع التواصل  </h3>
  <br>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>



    </div>

  </div>

  </footer>
</body>

</html>