{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> مقياس</title>
  <link rel="icon" href="{% static 'blog/logo.png' %}">
  <link rel="stylesheet" href="{% static 'tests/styl2.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
</head>

<body>
  <a id="logo" href=""><img src="{% static 'blog/logo1.png'%}" alt="logo" width="150" height="100"></a>

    <br>    <br>
    <br>

    <form class="cont" action="index.html" method="post">

      <p> رجاءً .. قم باختيار الجملة التي توضح معدل حدوث كل بند خلال السبعة أيام الماضية بما فيها وقت هذه الجلسة </p>

</form>
  <form class="test" action="{% url 'tests:ocdTest'%}" method="post">
    <br>
      <!-- for_security -->
      {% csrf_token %}


  <div class="row">
    <p class="q">١- مقدار الوقت الذي تستغرقه الأفكار الوسواسية </p>

    <label class="container">
  <input type="radio" checked="checked" name="q1" value="0" required>
  <span class="checkmark"></span>
  <p class="ans"> لاشي</p>
</label>

<label class="container">
  <p class="ans">أقل من ساعة في اليوم ، أو تتكرر أحيانا (بمعدل 8 مرات فأقل يوميا)
</p>
  <input type="radio" name="q1" value="1">
  <span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">  من ساعة إلى 3 ساعات في اليوم، أو تتكرر كثيرا (أكثر من 8 مرات في اليوم لكن معظم ساعات اليوم خالية من الأفكار الوسواسية)
</p>
  <input type="radio" name="q1" value="2">
  <span class="checkmark" name="radio"></span>
</label>
<label class="container">
  <p class="ans"> من 3 إلى 8 ساعات في اليوم ، أو تحدث كثيرا جدا (تحدث أكثر من 8 مرات في اليوم وفي معظم ساعات اليوم)</p>
  <input type="radio" name="q1" value="3">
  <span class="checkmark"></span>
</label>
<label class="container">
  <p class="ans">أكثر من 8 ساعات في اليوم ، أو تحدث بشكل دائم (أكثر من تحملها ونادرا ما ماتمر ساعة بدون وساوس كثيرة</p>
  <input type="radio" name="q1" value="4">
  <span class="checkmark"></span>
</label>

</div>
  <div class="row">
    <p class="q"> ٢- مقدار التعارض الذي تحدثه الأفكار الوسواسية مع نشاطاتك الاجتماعية والعملية. </p>

    <label class="container">
  <input type="radio"  name="q2" value="0" required>
  <span class="checkmark"></span>
  <p class="ans">لايوجد</p>
</label>
<label class="container">
  <p class="ans">تعارض خفيف مع النشاطات الاجتماعية أو العملية ولكن النشاط العام لا يتأثر.
</p>
  <input type="radio" name="q2" value="1">
  <span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">  تعارض واضح في النشاطات الاجتماعية أو العملية ولكن يمكن السيطرة عليه.</p>
  <input type="radio" name="q2" value="2">
  <span class="checkmark" name="radio"></span>
</label>
<label class="container">
  <p class="ans">تسبب خللا كبيرا في أداء النشاطات الاجتماعية أو العملية</p>
  <input type="radio" name="q2" value="3">
  <span class="checkmark"></span>
</label>
<label class="container">
  <p class="ans">تسبب خللا بليغا.</p>
  <input type="radio" name="q2" value="4">
  <span class="checkmark"></span>
</label>

</div>
<div class="row">
  <p class="q"> ٣- مقدار التوتر والقلق المصاحب للأفكار الوسواسية </p>

  <label class="container">
<input type="radio"  name="q3" value="0" required>
<span class="checkmark"></span>
<p class="ans">لايوجد</p>
</label>
<label class="container">
<p class="ans">خفيف (أحيانا) ، ليس مزعجا.
</p>
<input type="radio" name="q3" value="1">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">متوسط (غالبا) ومزعجا ولكن يمكن السيطرة عليه.</p>
<input type="radio" name="q3" value="2">
<span class="checkmark" name="radio"></span>
</label>
<label class="container">
<p class="ans">شديد (أغلب الوقت) ومزعج جدا </p>
<input type="radio" name="q3" value="3">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">توتر بليغ (دائم) لحد الإعاقة تقريبا .</p>
<input type="radio" name="q3" value="4">
<span class="checkmark"></span>
</label>

</div>

<div class="row">
  <p class="q">٤- مقدار الجهد المبذول في مقاومة الأفكار الوسواسية (بغض النظر عن نجاحك في المقاومة</p>

  <label class="container">
<input type="radio"  name="q4" value="0" required>
<span class="checkmark"></span>
<p class="ans">لا أبذل جهدا حتى أقاوم دائما (الأفكار قليلة جدا بحيث لا حاجة للمقاومة)</p>
</label>
<label class="container">
<p class="ans">أحاول أن أقاوم معظم الوقت
</p>
<input type="radio" name="q4" value="1">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">أبذل بعض الجهد حتى أقاوم</p>
<input type="radio" name="q4"  value="2">
<span class="checkmark" name="radio"></span>
</label>
<label class="container">
<p class="ans">أستسلم لكل الأفكار الوسواسية بدون محاولة للسيطرة عليها، وإن حاولت السيطرة فيكون بعد ترددا </p>
<input type="radio" name="q4" value="3">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">أستسلم كلية وبإرادتي للأفكار الوسواسية كلها</p>
<input type="radio" name="q4" value="4">
<span class="checkmark"></span>
</label>

</div>



<div class="row">
  <p class="q">٥- مقدار سيطرتك على الفكار الوسواسية</p>

  <label class="container">
<input type="radio"  name="q5" value="0" required>
<span class="checkmark"></span>
<p class="ans">سيطرة تامة</p>
</label>
<label class="container">
<p class="ans">سيطرة كبيرة، عادة يمكنني أن أوقف أو أصرف انتباهي عن الوسواس عند بذل بعض الجهد والتركيز.</p>
<input type="radio" name="q5" value="1">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans"> سيطرة متوسطة، بعض الحيان استطيع إيقاف أو صرف انتباهي عن الوسواس.</p>
<input type="radio" name="q5" value="2">
<span class="checkmark" name="radio"></span>
</label>
<label class="container">
<p class="ans">سيطرة قليلة، نادرا ما أنجح في إيقاف الوساوس، أستطيع فقط صرف النتباه وبصعوبة. </p>
<input type="radio" name="q5" value="3">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">لا سيطرة ، نادرا ما أستطيع صرف النتباه عن الوساوس ولو للحظات قليلة</p>
<input type="radio" name="q5" value="4">
<span class="checkmark"></span>
</label>

</div>


<div class="row">
  <p class="q">٦- مقدار الوقت الذي تمضيه في القيام بالأفعال القهرية </p>

  <label class="container">
<input type="radio" name="q6" value="0" required>
<span class="checkmark"></span>
<p class="ans"> لاشي</p>
</label>
<label class="container">
<p class="ans">أقل من ساعة في اليوم ، أو تقوم بالأفعال أحيانا ( لا تزيد عن 8 مرات في اليوم)
</p>
<input type="radio" name="q6" value="1">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans"> من ساعة إلى ثلاث ساعات في اليوم، أو تقوم بالأفعال كثيرا ( أكثر من 8 مرات في اليوم ولكن معظم الساعات تخلو من الأفعال القهرية)
</p>
<input type="radio" name="q6" value="2">
<span class="checkmark" name="radio"></span>
</label>
<label class="container">
<p class="ans">أكثر من ثلاث ساعات في اليوم ، أو تقوم بالأفعال كثيرا جدا ( أكثر من 8 مرات في اليوم وخلال معظم ساعات اليوم) .
</p>
<input type="radio" name="q6" value="3">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">أكثر من 8 ساعات في اليوم أو تقوم بالأفعال بشكل دائم (أكثر من أن تحصيها ونادرا ماتمر ساعة لا تقوم فيها بالأفعال)
</p>
<input type="radio" name="q6" value="4">
<span class="checkmark"></span>
</label>

</div>


<div class="row">
  <p class="q">٧- مقدار التعارض الذي تحدثه الأفعال القهرية في نشاطاتك الاجتماعية والعملية </p>

  <label class="container">
<input type="radio"  name="q7" value="0" required>
<span class="checkmark"></span>
<p class="ans">لايوجد</p>
</label>
<label class="container">
<p class="ans">تعارض خفيف مع النشاطات الاجتماعية أو العملية ولكن النشاط العام لا يتأثر.
</p>
<input type="radio" name="q7" value="1">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">  تعارض واضح في النشاطات الاجتماعية أو العملية ولكن يمكن السيطرة عليه.</p>
<input type="radio" name="q7" value="2">
<span class="checkmark" name="radio"></span>
</label>
<label class="container">
<p class="ans">تسبب خللا كبيرا في أداء النشاطات الاجتماعية أو العملية</p>
<input type="radio" name="q7" value="3">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">تسبب عجزا كبيرا</p>
<input type="radio" name="q7" value="4">
<span class="checkmark"></span>
</label>

</div>

<div class="row">
  <p class="q">٨- مقدار التوتر والقلق الناتج في حال الامتناع عن القيام بالأفعال القهرية</p>

  <label class="container">
<input type="radio"  name="q8" value="0" required>
<span class="checkmark"></span>
<p class="ans">لايوجد</p>
</label>
<label class="container">
<p class="ans">قلق بسيط عند الامتناع عن القيام بالأفعال .</p>
<input type="radio" name="q8" value="1">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans"> يظهر القلق لكن يمكن تحمله.</p>
<input type="radio" name="q8" value="2">
<span class="checkmark" name="radio"></span>
</label>
<label class="container">
<p class="ans">قلق واضح ومزعج للغاية.</p>
<input type="radio" name="q8" value="3">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans"> قلق شديد يسبب عجزا بليغا.</p>
<input type="radio" name="q8" value="4">
<span class="checkmark"></span>
</label>

</div>


<div class="row">
  <p class="q">٩- مقدار الجهد المبذول في مقاومة الأفعال القهرية (بغض النظر عن مدى نجاحك في المقاومة)</p>

  <label class="container">
<input type="radio"  name="q9" value="0" required>
<span class="checkmark"></span>
<p class="ans"> أبذل جهدا حتى أقاوم دائما (أو أن الأفعال القهرية قليلة بحيث لا حاجة للمقاومة)</p>
</label>
<label class="container">
<p class="ans"> أحاول أن أقاوم معظم الوقت</p>
<input type="radio" name="q9" value="1">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">أعمل بعض المحاولات للمقاومة.</p>
<input type="radio" name="q9" value="2">
<span class="checkmark" name="radio"></span>
</label>
<label class="container">
<p class="ans"> استسلم لكل الأفعال القهرية بدون محاولة للسيطرة عليها ، وإن حاولت السيطرة فيكون بعد تردد.</p>
<input type="radio" name="q9" value="3">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans"> أستسلم كلية وبإرادتي لكل الأفعال القهرية.</p>
<input type="radio" name="q9" value="4">
<span class="checkmark"></span>
</label>

</div>


<div class="row">
  <p class="q">١٠- مقدار سيطرتك على الأفعال القهرية</p>

  <label class="container">
<input type="radio"  name="q10" value="0" required>
<span class="checkmark"></span>
<p class="ans"> سيطرة تامة.</p>
</label>
<label class="container">
<p class="ans"> عادة ما أوقف الأفعال القهرية بصعوبة</p>
<input type="radio" name="q10" value="1">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans">أحيانا أستطيع إيقاف الأفعال القهرية بصعوبة. </p>
<input type="radio" name="q10" value="2">
<span class="checkmark" name="radio"></span>
</label>
<label class="container">
<p class="ans"> أستطيع بصعوبة أن أؤخر - فقط - الأفعال القهرية لكن يجب على القيام بها حتى النهاية.</p>
<input type="radio" name="q10" value="3">
<span class="checkmark"></span>
</label>
<label class="container">
<p class="ans"> نادرا ما أستطيع أن أؤخر القيام بالأفعال القهرية ولو للحظات.</p>
<input type="radio" name="q10" value="4">
<span class="checkmark"></span>
</label>

</div>
<button class="button" type="submit" name="next" style="cursor: pointer;">التالي</button>

  </form>

  <br><br><br><br>


      </body>

    </html>
