{% extends "blog/base.html" %}
{% load static %}
{% block content %}



<div class="sign-form">
  <form id="signin" action="" method="post">
    <div class="row col0">
      <p class="top-p">..نحن هنا لمســـــــــــــــــــاعدتك</p>
      <p class="top-2">لتَّشخيص بأسرع وقت وأكثر دِقة</p>
      <br>
    </div>
    <a id="buttonjoin" href="{% url 'signup' %}"><button class="button" type="button" name="button">إنشاءحساب</button></a>
  </form>
</div>

<div id="whowe" class="container1">
  <div class="row-1">نقوم بمســـــــــــاعدتك للتشخيص بإسرع وقت </div>
  <div class="row-2">نستطيع تشخيص مرضاك بسهولة وسرعة ودقة سواءً في العيادة أو عن بعــــــــــــــــد</div>
</div>

{% endblock %}