{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> تنبيه </title>
  <link rel="icon" href="{% static 'blog/logo.png' %}">
  <link rel="stylesheet" href="{% static 'blog/styl2.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
</head>

<body>

  <br> <br>
  <br>
  <br>

  <form class="appro_test1" method="post">
    {% csrf_token %}
    <br> <br>
    <br>
    <br>
    <div class="row4">
      <p class="rt">تم إرسال طلبك بنجاح </p>
    </div>

    <div class="row4">
      <p class="rr" style="  font-size: 1em; background-color:rgba(255, 255, 255, 0);"> سوف ترسل نتيجة القبول أو الرفض
        على البريد الإلكتروني </p>
    </div>
    <button class="button" type="submit" formaction="{% url 'home' %}">عودة للصفحة الرئيسية </button>

  </form>












</body>

</html>