{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>نتيجة التشخيص</title>
  <link rel="icon" href="{% static 'blog/logo.png' %}">
  <link rel="stylesheet" href="{% static 'blog/styl2.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
</head>

<body>
  <a id="logo" href=""><img src="{% static 'blog/logo1.png' %}" alt="logo" width="150" height="100"></a>
  <nav>
    <div class="col6"> <a href="{% url 'home' %}">الصفحة الرئيسية</a></div>
    <div class="col6"><a href="#whowe">من نحن؟</a></div>
    <div class="col6"><a href="#footer">تواصل معنا</a></div>
    <div class="col7"> <a id="login" href="{% url 'signout' %}"></i>تسجيل
        خروج </a>
      <img id="login-pho" src="{% static 'blog/login.png' %}" width="50" height="50">
    </div>
  </nav>

  <br>
  <br>
  <br>
  <br>

  <form class="appro_test1" action="{% url 'diagnosis:sendTest' result.pt_id %}" method="post" target="_blank">
      {% csrf_token %}
    <div class="row4">
      <p class="rt">: نتيجة تشخيص المريض</p>
    </div>

    <div class="row4">
      <p class="rr"> {{result.fk_diagnosis}}</p>
    </div>

    <div class="row4">
      <p class="rt"> :المقياس المناسب للمريض </p>
    </div>

    <div class="row4">
      <p class="rr">{{result.test}}</p>
    </div>
    <div class="row4">
     <button class="button" type="submit">  إرسال المقياس للمريض  </button>
    </div>
  </form>

  
  <footer id="footer" class="footer-distributed">
    <div class="footer-right">
      <a id="logo" href=""><img src="{% static 'blog/logod.png' %}" alt="logo" width="250" height="200"></a>
      <p class="footer-links">
        <a id="h" href="">الصفحات</a>
        <a href="#">الصفحة الرئيسيه </a>
        <a href="#">من نحــن؟</a>
        <a href="#">تواصل معنا</a>
      </p>
    </div>
    <div class="footer-right">
      <p class="footer-links2">
        <a id="h" href="">الخدمات </a>
        <a href="#">اضافة مريض </a>
        <a href="#">المقاييــس النفسية</a>
        <a href="#">سجل المرضـى </a>
      </p>
    </div>
    <p class="footer-links3">
      <a id="h" href=""> :التواصل </a>
      <a href="#">+966 547876876 </a>
    </p>
    <div class="footer-left">
      <div class="footer-icons">
        <br><br>
        <h3> مواقع التواصل </h3>
        <br>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </footer>

</body>

</html>