{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> {{detail}} </title>
  <link rel="icon" href="{% static 'blog/logo.png' %}">
  <link rel="stylesheet" href="{% static 'tests/inidiagstyle.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body>
  <a id="logo" href=""><img src="{% static 'blog/logo1.png' %}" alt="logo" width="150" height="100"></a>
  <nav>
    <div class="col6"> <a href="{% url 'home' %}">الصفحة الرئيسية</a></div>
    <div class="col6"><a href="#whowe">من نحن؟</a></div>
    <div class="col6"><a href="#footer">تواصل معنا</a></div>
    <div class="col7"> <a id="login" href="{% url 'signout' %}"></i>تسجيل خروج </a>
      <img id="login-pho" src="{% static 'blog/login.png' %}" width="50" height="50">
    </div>
  </nav>
  <br><br><br><br>

  <div class="con text-center">
    <form action="{% url 'diagnosis:iniDiag' %}" class="conform">
      <!-- <p class="title"> الفحص الجسدي النفسي</p> -->

      <fieldset class="fieldset1">
        <legend class="legend1">التطور النفسي النمائي</legend>
        <div class="row align-items-start">
          <div class="col order-last ">
            <select name="arrangementOfPatientInFamily" id="arrangementOfPatientInFamily" class="selects"
              style="width:10em;">
              <option value="normal">الاول</option>
              <option value="second">الثاني</option>
              <option value="Third">الثالث</option>
              <option value="fourth">الرابع</option>
              <option value="V">الخامس</option>
              <option value="VI">السادس</option>
              <option value="VII">السابع</option>
              <option value="VIII">الثامن</option>
              <option value="VIIII">التاسع</option>
              <option value="VV">العاشر</option>
            </select>
            <label for="cars">ترتيب المريض في الأسرة</label>

          </div>

          <div class="col">
            <select name="Pregnancy" id="Pregnancy" class="selects" style="width:10em;">
              <option value="Month6">ستة شهور</option>
              <option value="Month7">سبعة شهور</option>
              <option value="Month8">ثمانية شهور</option>
              <option value="Month9">تسعة شهور</option>
              <option value="Month10">10- شهور</option>
            </select>
            <label for="Pregnancy">مدة الحمل</label>
          </div>

          <div class="col order-first">
            <select name="Pregnancybr" id="Pregnancybr" class="selects" style="width:10em;">
              <option value="natural">طبيعي</option>
              <option value="Caesarean">قيصري</option>
            </select>
            <label for="Pregnancy">نوع الولادة</label>
          </div>

        </div>
        <div class="row align-items-start">
          <div class="col order-last">
            <select name="IV1" id="IV1" class="selects" style="width:10em;">
              <option value="yesAccident">توجد</option>
              <option value="NoAccident">لا توجد</option>
            </select>
            <label for="cars"> حوادث أثناء الولادة </label>
          </div>

          <div class="col">
            <select name="IV3" id="IV3" class="selects" style="width:10em;">
              <option value="yesIV3">لايوجد تأخر نمائي</option>
              <option value="NoIV3">يوجد تأخر نمائي</option>
            </select>
            <label for="Pregnancy"> التاريخ النمائي طفولة</label>
          </div>

          <div class="col ">
            <input type="text" id="IV2" name="IV2" class="inputType">
            <label for="Pregnancy">اذكر حادثة الولادة</label>
          </div>

          <div class="col order-first">
            <input type="date" id="IV4" name="IV4" style="width:7.5em;" class="inputType">
            <label for="IV4">تاريخه </label>
          </div>
        </div>

        <div class="row align-items-start">
          <div class="col order-last">
            <select name="IV5" id="IV5" class="selects" style="width:10em;">
              <option value="yesIV5">لايوجد تأخر نمائي</option>
              <option value="NoIV5">يوجد تأخر نمائي</option>
            </select>
            <label> التاريخ النمائي مراهقة</label>
          </div>
          <div class="col">
            <select name="IV7" id="IV7" class="selects" style="width:10em;">
              <option value="yesIV3">لايوجد تأخر نمائي</option>
              <option value="NoIV3">يوجد تأخر نمائي</option>
            </select>
            <label> التاريخ النمائي رشد</label>
          </div>
          <div class="col ">
            <input type="date" id="IV6" name="IV6" style="width:7.5em;" class="inputType">
            <label>تاريخه </label>
          </div>

          <div class="col order-first">
            <input type="date" id="IV8" name="IV8" style="width:7.5em;" class="inputType">
            <label>تاريخه </label>
          </div>

        </div>

        <div class="row align-items-start">
          <div class="col order-last ">
            <select name="IV9" id="IV9" class="selects" style="width:11em; margin-left: 8em;">
              <option value="NoIV9">لا يوجد</option>
              <option value="yesIV9-1"> التعرض لفقد أشخاص</option>
              <option value="yesIV9-2"> التعرض لخسارة مالية</option>
              <option value="yesIV9-3"> التعرض لإعتداء جنسي</option>
              <option value="yesIV9-4"> التعرض لحوادث معينة</option>
            </select>
            <label>أحداث راهنة</label>
          </div>

          <div class="col">
            <input type="date" id="IV10" name="IV10" style="width:7.5em; margin-left: 9em;" class="inputType">
            <label>تاريخه </label>
          </div>

        </div>
      </fieldset>
      <br>
      <fieldset class="fieldset1">
        <legend class="legend1">مشكلات النوم والطعام</legend>
        <div class="row align-items-start">
          <div class="col order-last" >
            <select name="VII1" id="VII1" class="selects" style="width:10em; margin-left: 8em; ">
              <option value="yesVII1">طبيعي</option>
              <option value="NoVII1">لا توجد</option>
              <option value="VII2-1"> نقص الشهيه</option>
              <option value="VII2-2">زيادة الشهيه</option>
            </select>
            <label>مشكلات الطعام</label>
          </div>

          <div class="col order-first">
            <select name="VII3" id="VII3" class="selects" style="width:10em; margin-left: 10em;">
              <option value="yesVII3">أرق</option>
              <option value="NoVII3">زيادة</option>
              <option value="NoVII3">طبيعي</option>
            </select>
            <label>مشكلات النوم</label>
          </div>
        </div>

      </fieldset>
      <br>
      <fieldset class="fieldset1">
        <legend class="legend1">الجانب النفسي الجنسي</legend>
        <div class="row align-items-start">
          <div class="col order-last">
            <select name="VIII1" id="VIII1" class="selects" style="width:10em; margin-left: 5em;">
              <option value="yesVII1">10</option>
              <option value="NoVII1">11</option>
              <option value="yesVII1">12</option>
              <option value="NoVII1">13</option>
              <option value="yesVII1">14</option>
              <option value="NoVII1">15</option>
              <option value="yesVII1">16</option>
              <option value="NoVII1">17</option>
              <option value="yesVII1">18</option>
              <option value="NoVII1">19</option>
              <option value="yesVII1">20</option>
              <option value="NoVII1">21</option>
            </select>
            <label>السن عند البلوغ</label>
          </div>
          <div class="col ">
            <input type="text" id="VIII3" name="VIII3" style="width:9em; margin-left: 4em;" class="inputType">
            <label>الناحية البيولوجية الجنسية</label>
          </div>
          <div class="col ">
            <input type="text" id="VIII2" name="VIII2" style="width:9em; margin-left: 5em;" class="inputType">
            <label>حالة البلوغ الجنسي</label>
          </div>


        </div>
        <div class="row align-items-start">



        </div>

      </fieldset>
      <br>
      <fieldset class="fieldset1">
        <legend class="legend1">الجانب النفس الإجتماعي الإقتصادي</legend>
        <div class="row align-items-start">
          <div class="col order-last">
            <select name="V1" id="V1" class="selects" style="width:10em;">
              <option value="V1-1">أعزب</option>
              <option value="V1-2">متزوج</option>
              <option value="V1-3">مطلق</option>
              <option value="V1-4">أرمل</option>
              <option value="V1-5">منفصل</option>
              <option value="V1-6">أخرى</option>
            </select>
            <label>الحالة الإجتماعية</label>
          </div>
          <div class="col ">
            <input type="text" id="V3" name="V3" style="width:9em;" class="inputType">
            <label>عدد الزوجات</label>
          </div>
          <div class="col ">
            <input type="text" id="V2" name="V2" style="width:9em;" class="inputType">
            <label>عدد مرات الطلاق</label>
          </div>
          <div class="col order-first">
            <input type="text" id="V4" name="V4" style="width:9em;" class="inputType">
            <label>عدد الأبناء</label>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col order-last">
            <select name="V5" id="V5" class="selects" style="width:10em;">
              <option value="V5-1">مع والديه وإخوته</option>
              <option value="V5-2">مع أبنائه فقط</option>
              <option value="V5-3">مع زوجته وأبنائه</option>
              <option value="V5-4">مع والدته</option>
              <option value="V5-5">مع إخوته</option>
              <option value="V5-6">أخرى</option>
            </select>
            <label>مع من يعيش</label>
          </div>
          <div class="col ">
            <select name="V7" id="V7" class="selects" style="width:10em;">
              <option value="V7-1">مع الوالدين</option>
              <option value="V7-2">يتيم</option>
              <option value="V7-3">دور إيواء </option>
            </select>
            <label>نوع التنشئة الإجتماعية</label>
          </div>
          <div class="col ">
            <input type="text" id="V6" name="V6" style="width:9em;" class="inputType">
            <label>عدد أفراد الأسرة </label>
          </div>

        </div>

        <div class="row align-items-start">
          <div class="col order-last">
            <input type="text" id="V7" name="V7" style="width:9em;" class="inputType">
            <label>المهنة</label>
          </div>
          <div class="col ">
            <select name="V9" id="V9" class="selects" style="width:10em;">
              <option value="V9-1">وظيفة</option>
              <option value="V9-2">الوالد</option>
              <option value="V9-3">الوالدة</option>
              <option value="V9-4">الإخوة</option>
              <option value="V9-5">الأخوات</option>
              <option value="V9-6">أعمال حرة</option>
              <option value="V9-7">جمعيات خيرية</option>
            </select>
            <label>مصدر الرزق</label>
          </div>
          <div class="col ">
            <select name="V8" id="V8" class="selects" style="width:10em;">
              <option value="V8-1">منخفض</option>
              <option value="V8-2">متوسط</option>
              <option value="V8-3">مرتفع</option>
            </select>
            <label>مستوى الدخل</label>
          </div>
        </div>

        <div class="row align-items-start">
          <div class="col order-last">
            <select name="V10" id="V10" class="selects" style="width:10em;">
              <option value="V10-1">إيجابية</option>
              <option value="V10-2">محدودة</option>
              <option value="V10-3">سلبية</option>
              <option value="V10-4">تجنبية</option>
              <option value="V10-5">عزلة</option>
              <option value="V10-6">متوترة</option>
              <option value="V10-7"> منعدمة</option>
              <option value="V10-8">أخرى</option>
            </select>
            <label>العلاقات الإجتماعية مع الأصدقاء</label>
          </div>
          <div class="col ">
            <select name="V11" id="V11" class="selects" style="width:10em;">
              <option value="V11-1">إيجابية</option>
              <option value="V11-2">محدودة</option>
              <option value="V11-3">سلبية</option>
              <option value="V11-4">تجنبية</option>
              <option value="V11-5">عزلة</option>
              <option value="V11-6">متوترة</option>
              <option value="V11-7"> منعدمة</option>
              <option value="V11-8">أخرى</option>
            </select>
            <label>العلاقات الإجتماعية مع الأقارب</label>
          </div>
          <div class="col order-first ">
            <select name="V12" id="V12" class="selects" style="width:10em;">
              <option value="V12-1">إيجابية</option>
              <option value="V12-2">محدودة</option>
              <option value="V12-3">سلبية</option>
              <option value="V12-4">تجنبية</option>
              <option value="V12-5">عزلة</option>
              <option value="V12-6">متوترة</option>
              <option value="V12-7"> منعدمة</option>
              <option value="V12-8">أخرى</option>
            </select>
            <label>العلاقات الإجتماعية الأسرية</label>
          </div>
        </div>

      </fieldset>
      <br>
      <fieldset class="fieldset1">
        <legend class="legend1">التاريخ التعليمي الأكاديمي</legend>
        <div class="row align-items-start">
          <div class="col order-last">
            <select name="IX1" id="IX1" class="selects" style="width:10em;">
              <option value="IX1-1">جامعي</option>
              <!-- <option value="IX1-2">11</option> ناقص -->
            </select>
            <label>المستوى التعليمي</label>
          </div>
          <div class="col  ">
            <select name="IX5" id="IX5" class="selects" style="width:10em;">
              <option value="IX5-1">يرغب بالتخصص</option>
              <option value="IX5-1">لا يرغب بالتخصص</option>
            </select>
            <label>الرغبة في التخصص</label>

          </div>
          <div class="col">
            <input type="text" id="IX2" name="IX2" style="width:9em;" class="inputType">
            <label>التخصـص</label>
          </div>
          <div class="col  order-first">
            <input type="text" id="IX6" name="IX6" style="width:9em;" class="inputType">
            <label>مرات الفشل في التعليم</label>
          </div>

        </div>
        <div class="row align-items-start">
          <div class="col ">
            <select name="IX2" id="IX2" class="selects" style="width:10em; margin-left: 3em;">
              <option value="IX2-1">طبيعي</option>
              <option value="IX2-2">منخفض</option>
            </select>
            <label>مستوى القراءة- التهجئة</label>
          </div>

          <div class="col">
            <select name="IX3" id="IX3" class="selects" style="width:10em; margin-left: 4em;">
              <option value="IX3-1">طبيعي</option>
              <option value="IX3-2">منخفض</option>
            </select>
            <label>مستوى الكتابة</label>
          </div>

          <div class="col order-first">
            <select name="IX4" id="IX4" class="selects" style="width:10em; margin-left: 5em;">
              <option value="IX4-1">طبيعي</option>
              <option value="IX4-2">منخفض</option>
            </select>
            <label>مستوى الحساب</label>
          </div>
        </div>

      </fieldset>
      <br>
      <fieldset class="fieldset1">
        <legend class="legend1">الشخصية والميول</legend>
        <div class="row align-items-start">
          <div class="col order-last">
            <select name="X1" id="X1" class="selects" style="width:10em; margin-left: 3em;">
              <option value="X1-1">سليمة</option>
              <option value="X1-2">مضطربة</option>
            </select>
            <label>تقييم الشخصية</label>
          </div>
          <div class="col  ">
            <input type="text" id="X2" name="X2" style="width:9em; margin-left: 3em;" class="inputType">
            <label>السمة الشخصية الجوهرية</label>
          </div>
          <div class="col">
            <input type="text" id="X3" name="X3" style="width:9em; margin-left: 5em;" class="inputType">
            <label>الميول والاهتمامات</label>
          </div>

        </div>
        <div class="row align-items-start">
          <div class="col ">
            <input type="text" id="X5" name="X5" style="width:9em; margin-left: 5em;" class="inputType">
            <label>سمات شخصية فرعية</label>
          </div>

          <div class="col">
            <input type="text" id="X6" name="X6" style="width:9em; margin-left: 3em;" class="inputType">
            <label>سمات شخصية فرعية</label>
          </div>

          <div class="col order-first">
            <input type="text" id="X7" name="X7" style="width:9em;  margin-left: 3em" class="inputType">
            <label>سمات شخصية فرعية</label>
          </div>
        </div>

      </fieldset>
      <br>
      <fieldset class="fieldset1">
        <legend class="legend1">الإدمان والتاريخ الجنائي</legend>
        <div class="row align-items-start">
          <div class="col order-last">
            <select name="XI1" id="XI1" class="selects" style="width:10em;  margin-left: 3em">
              <option value="XI1-1">يوجد</option>
              <option value="XI1-2">لا يوجد</option>
            </select>
            <label>التاريخ الإدماني</label>
          </div>
          <div class="col  ">
            <input type="text" id="XI2" name="XI2" style="width:9em;  margin-left: 3em" class="inputType">
            <label>مدة التاريخ الإدماني</label>
          </div>
          <div class="col">
            <input type="text" id="XI3" name="XI3" style="width:9em;  margin-left: 5em" class="inputType">
            <label>نوع الإدمان</label>
          </div>

        </div>
        <div class="row align-items-start">
          <p>-------------------------------------------</p>
        </div>
        <div class="row align-items-start">
          <div class="col order-last">
            <select name="XI5" id="XI5" class="selects" style="width:10em; margin-left: 3em">
              <option value="yesVII1">توجد</option>
              <option value="NoVII1">لا توجد</option>
            </select>
            <label>محاولات إنتحار سابقة</label>
          </div>
          <div class="col">
            <input type="text" id="XI3" name="XI3" style="width:9em; margin-left: 5em" class="inputType">
            <label>كم مرة</label>
          </div>
          <div class="col  order-first">
            <input type="text" id="XI4" name="XI4" style="width:9em; margin-left: 3em" class="inputType">
            <label>الأسباب</label>
          </div>
        </div>

        <div class="row align-items-start">
          <div class="col order-last">
            <select name="XI8" id="XI8" class="selects" style="width:10em; margin-left: 3em">
              <option value="XI8-1">يوجد</option>
              <option value="XI8-2">لا يوجد</option>
            </select>
            <label>التاريج الجنائي</label>
          </div>
          <div class="col  ">
            <input type="text" id="XI3" name="XI3" style="width:9em; margin-left: 3em" class="inputType">
            <label>نوع الجناية</label>
          </div>
          <div class="col">
            <input type="text" id="XI2" name="XI2" style="width:9em; margin-left: 5em" class="inputType">
            <label>مدة التاريخ الجنائي</label>
          </div>

        </div>

      </fieldset>
      <br>
      <fieldset class="fieldset1">
        <legend class="legend1">التعرض لمشكلات العنف</legend>
        <div class="row align-items-start">
          <div class="col order-last">
            <select name="XII1" id="XII1" class="selects" style="width:10em;">
              <option value="XII1-1">نعم</option>
              <option value="XII1-2">لا</option>
            </select>
            <label>هل مشكلة المريض نتيجة تعرضه للتعنيف</label>
          </div>
          <div class="col  ">
            <input type="text" id="XII2" name="XII2" style="width:9em;" class="inputType">
            <label>مصدر العنف</label>
          </div>
          <div class="col">
            <input type="text" id="XII3" name="XII3" style="width:9em;" class="inputType">
            <label>نوع العنف</label>
          </div>

        </div>

      </fieldset>
      <br>
      <fieldset class="fieldset1">
        <legend class="legend1">الفحص الجسدي النفسي العقلي</legend>
        <p class="title"> الفحص العقلي المعرفي</p>
        <div class="row align-items-start">
          <div class="col order-last ">
            <select name="Attention" id="Attention" class="selects" style="width:10em;">
              <option value="Attention-1">طبيعي</option>
              <option value="Attention-2">مشتت</option>
              <option value="Attention-3">منخفض</option>
              <option value="Attention-4">شرود ذهني</option>
            </select>
            <label for="cars">الإنتباه</label>
          </div>
          <div class="col">
            <select name="Focus" id="Focus" class="selects" style="width:10em;">
              <option value="Focus-1"> منخفض</option>
              <option value="Focus-2">طبيعي</option>
              <option value="Focus-4"> مشتت</option>
            </select>
            <label>التركيز</label>
          </div>

          <div class="col">
            <select name="memory" id="memory" class="selects" style="width:10em;">
              <option value="memory-1">طبيعي</option>
              <option value="memory-2">قصور الذاكرة الآتية </option>
              <option value="memory-3">قصور الذاكرة القريبة</option>
              <option value="memory-4">قصور الذاكرة البعيدة</option>
              <option value="memory-5">قصور كافة الذاكرات</option>
            </select>
            <label>التذكر</label>
          </div>

          <div class="col order-first">
            <select name="intelligence" id="intelligence" class="selects" style="width:10em;">
              <option value="intelligence-1">عادي</option>
              <option value="intelligence-2">مرتفع</option>
              <option value="intelligence-3">منحفض</option>
            </select>
            <label for="Pregnancy">الذكاء</label>
          </div>

        </div>
        <div class="row align-items-start">
          <div class="col order-last">
            <select name="perception" id="perception" class="selects" style="width:10em;">
              <option value="perception-1">سليم</option>
              <option value="perception-2">هلاوس سمعية</option>
              <option value="perception-3">هلاوس بصرية</option>
              <option value="perception-4">هلاوس سمعية وبصرية</option>
              <option value="perception-5">أخرى</option>
            </select>
            <label>الإدراك الحسي</label>
          </div>

          <div class="col">
            <select name="orientation" id="orientation" class="selects" style="width:10em;">
              <option value="orientation-1">مستبصر بالزمان والمكان</option>
              <option value="orientation-2">غير مستبصر بالزمان والمكان</option>
              <option value="orientation-3">مستبصر بالزمان فقط</option>
              <option value="orientation-4">مستبصر بالمكان فقط</option>
            </select>
            <label>الإهتداء</label>
          </div>

          <div class="col ">
            <select name="thinking" id="thinking" class="selects" style="width:10em;">
              <option value="thinking-1">طبيعي</option>
              <option value="thinking-2">أفكار ملحة</option>
              <option value="thinking-3">أفكار عجز ويأس</option>
              <option value="thinking-4">مترابط</option>
            </select>
            <label>التفكير</label>
          </div>

          <div class="col order-first">
            <select name="thinkingObject" id="thinkingObject" class="selects" style="width:10em;">
              <option value="thinkingObject-1">مناسب</option>
              <option value="thinkingObject-2">مخاوف</option>
              <option value="thinkingObject-3">ضلالات عظيمة</option>
              <option value="thinkingObject-4">ضلالات إضطهاد</option>
              <option value="thinkingObject-5">ضلالات إضطهاد</option>
              <option value="thinkingObject-6">ضلالات أهمية</option>
              <option value="thinkingObject-7">ضلالات خيانة</option>
              <option value="thinkingObject-8">ضلالات ذنوب</option>
              <option value="thinkingObject-9">أفكار عجز ويأس</option>
              <option value="thinkingObject-10">أفكار انتحارية</option>
              <option value="thinkingObject-11">أخرى</option>
            </select>
            <label>محتوى التفكير</label>
          </div>

        </div>
    
        <div class="row align-items-start">
          <p class="title"> الفحص النفسي السلوكي</p>
        </div>
        <div class="row align-items-start">
          <div class="col order-last ">
            <select name="behavior" id="behavior" class="selects" style="width:10em; margin-left: 5em" aria-checked="true">
              <option value="behavior-5">متجنب</option>
              <option value="behavior-6">تكرار</option>
              <option value="behavior-7">طبيعي</option>
              <option value="behavior-8">منسحب</option>
            </select>
            <label for="cars">السلوك</label>
          </div>
          <div class="col">
            <select name="mood" id="mood" class="selects" style="width:10em; margin-left: 5em">
              <option value="mood-1">طبيعي</option>
              <option value="mood-2">قلق</option>
              <option value="mood-3">حزين</option>
              <option value="mood-4">سريع الاستثارة</option>
            </select>
            <label>المزاج</label>
          </div>

          <div class="col order-first">
            <select name="faceFeatures" id="faceFeatures" class="selects" style="width:10em; margin-left:5em">
              <option value="faceFeatures-1">طبيعي</option>
              <option value="faceFeatures-3">متوتر</option>
              <option value="faceFeatures-4">قلق</option>
              <option value="faceFeatures-5">حزين</option>
            </select>
            <label>تعابير الوجه</label>
          </div>

        </div>
        <div class="row align-items-start">
          <div class="col order-last ">
            <select name="conscience" id="conscience" class="selects" style="width:10em; margin-left: 5em">
              <option value="conscience-1">قلق</option>
              <option value="conscience-3">غير ملائم للأفكار والموقف</option>
              <option value="conscience-4">حزين</option>
              <option value="conscience-8">طبيعي</option>
            </select>
            <label for="cars">الوجدان</label>
          </div>
          <div class="col">
            <select name="communication" id="communication" class="selects" style="width:10em; margin-left: 5em">
              <option value="communication-1">طبيعي</option>
              <option value="communication-2">لمحة خاطفة</option>
              <option value="communication-4">متجنب</option>
            </select>
            <label>التواصل</label>
          </div>

          <div class="col">
            <select name="talk" id="talk" class="selects" style="width:10em; margin-left: 5em">
              <option value="talk-1">طبيعي</option>
              <option value="talk-2">صامت</option>
              <option value="talk-3">تكرار</option>
              <option value="talk-5">كثير الكلام</option>
            </select>
            <label>الكلام</label>
          </div>

        </div>
        <div class="row align-items-start">
          <p class="title">الفحص الجسدي والمظهر العام</p>
        </div>
        <div class="row align-items-start">
          <div class="col order-last ">
            <select name="BodyHealth" id="BodyHealth" class="selects" style="width:10em; margin-left: 5em;">
              <option value="BodyHealth-1">ضعيفة</option>
              <option value="BodyHealth-2">جيدة</option>
            </select>
            <label>صحة الجسد</label>
          </div>
          <div class="col">
            <select name="bodyPosition" id="bodyPosition" class="selects" style="width:10em; margin-left: 5em;">
              <option value="bodyPosition-1">طبيعي</option>
              <option value="bodyPosition-2">متهاوي</option>
              <option value="bodyPosition-3">متصلب</option>
              <option value="bodyPosition-4">متقوس</option>
              <option value="bodyPosition-5">مشدود</option>
            </select>
            <label>وضع الجسم</label>
          </div>

          <div class="col order-first">
            <select name="disabilities" id="disabilities" class="selects" style="width:10em; margin-left: 5em;">
              <option value="disabilities-1">لايوجد</option>
              <option value="disabilities-2">إعاقة حركية أطراف علويه</option>
              <option value="disabilities-3">إعاقة حركية أطراف سفلية</option>
              <option value="disabilities-4">أعاقة حركية شاملة</option>
              <option value="disabilities-5">أخرى</option>
            </select>
            <label>الإعاقات</label>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col order-last ">
            <select name="generalLook" id="generalLook" class="selects" style="width:10em; margin-left: 5em;">
              <option value="generalLook-1">عادي مرتب</option>
              <option value="generalLook-2">أنيق بشكل مبالغ</option>
              <option value="generalLook-1">متسخ ومهمل</option>
              <option value="generalLook-1">لباس غير لائق</option>
            </select>
            <label>المظهر العام</label>
          </div>
          <div class="col">
            <select name="pregnancyTime" id="pregnancyTime" class="selects" style="width:10em; margin-left: 5em;">
              <option value="pregnancyTime-1">لايوجد</option>
              <option value="pregnancyTime-2">حمل من 1-3 أشهر</option>
              <option value="pregnancyTime-3">حمل من 4-6 أشهر</option>
              <option value="pregnancyTime-4">حمل من 7-9 أشهر</option>
              <option value="pregnancyTime-5">فترة النفاس (مابعد الولادة)</option>
            </select>
            <label>الحمل</label>
          </div>

          <div class="col order-first">
            <select name="menstruation" id="menstruation" class="selects" style="width:10em; margin-left: 5em;">
              <option value="menstruation-1">منتظمة</option>
              <option value="menstruation-2">غير منتظمة</option>
            </select>
            <label>الدورة الشهرية </label>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col order-last ">
            <select name="weight" id="weight" class="selects" style="width:12em;">
              <option value="weight-1">طبيعي</option>
              <option value="weight-2">زيادة الوزن</option>
              <option value="weight-1">إنخفاض الوزن</option>
            </select>
            <label>الوزن</label>
          </div>
          <div class="col">
            <select name="tall" id="tall" class="selects" style="width:10em;">
              <option value="tall-1">معتدل</option>
              <option value="tall-2">زيادة في الطول</option>
              <option value="tall-3">إنخفاض في الوزن</option>
              <option value="tall-4">عملقة</option>
              <option value="tall-5">قزامة</option>
            </select>
            <label>الطول</label>
          </div>
          <div class="col">
            <select name="movement" id="movement" class="selects" style="width:10em;">
              <option value="movement-1">طبيعية</option>
              <option value="movement-2">سريعة</option>
              <option value="movement-3">تكرارية</option>
              <option value="movement-4">مضطربة</option>
              <option value="movement-5">بطيئة</option>
              <option value="movement-5">متململ</option>
              <option value="movement-5">أخرى</option>
            </select>
            <label>الحركة</label>
          </div>

          <div class="col order-first">
            <input type="text" id="tall-m" name="tall-m" style="width:9em;" class="inputType">
            <label>الطول بالمتر</label>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col order-last ">
            <select name="sight" id="sight" class="selects" style="width:12em;">
              <option value="sight-1">قصر البصر</option>
              <option value="sight-2">سليمة</option>
              <option value="sight-1">طول البصر</option>
              <option value="sight-1">إعاقات أخرى</option>
            </select>
            <label>حاسة البصر</label>
          </div>
          <div class="col  ">
            <select name="SenseOfTouch" id="SenseOfTouch" class="selects" style="width:12em;">
              <option value="SenseOfTouch-1">قصور في اللمس</option>
              <option value="SenseOfTouch-2">سليمة</option>
              <option value="SenseOfTouch-1">إستثارة في اللمس</option>
            </select>
            <label>حاسة اللمس</label>
          </div>
          <div class="col">
            <select name="SenseOfHearing" id="SenseOfHearing" class="selects" style="width:10em;">
              <option value="SenseOfHearing-1">سليمة</option>
              <option value="SenseOfHearing-2">قصور بسيط في السمع</option>
              <option value="SenseOfHearing-3">إعاقة سمعية-خرس</option>
              <option value="SenseOfHearing-4">سماعة طبية</option>
              <option value="SenseOfHearing-5">قوقعة سمعية</option>
              <option value="SenseOfHearing-5">حساسة وإستثارة سمعية</option>
            </select>
            <label>حاسة السمع</label>
          </div>

          <div class="col order-first">
            <select name="menstruation" id="menstruation" class="selects" style="width:10em;">
              <option value="menstruation-1">سليمة</option>
              <option value="menstruation-2">قصور في التذوق</option>
              <option value="menstruation-2">إستئارة في التذوق</option>
            </select>
            <label>حاسة التذوق</label>
          </div>
        </div>

      </fieldset>
      <br>
      <fieldset class="fieldset1">
        <button class="button" type="submit">تســــليم الإجابات</button>
      </fieldset>






    </form>
  </div>

  <br><br><br><br>
  <footer id="footer" class="footer-distributed">

    <div class="footer-right">
      <a id="logo" href=""><img src="{% static 'blog/logod.png' %}" alt="logo" width="250" height="200"></a>

      <p class="footer-links">
        <a id="h" href="">الصفحات</a>

        <a href="#">الصفحة الرئيسيه </a>

        <a href="#">من نحــن؟</a>

        <a href="#">تواصل معنا</a>
      </p>

    </div>




    <div class="footer-right">



      <p class="footer-links2">
        <a id="h" href="">الخدمات </a>

        <a href="#">اضافة مريض </a>

        <a href="#">المقاييــس النفسية</a>

        <a href="#">سجل المرضـى </a>
      </p>

    </div>
    <p class="footer-links3">
      <a id="h" href=""> :التواصل </a>

      <a href="#">+966 547876876 </a>

    </p>
    <div class="footer-left">
      <div class="footer-icons">
        <br><br>


        <h3> مواقع التواصل </h3>
        <br>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>



      </div>

    </div>

  </footer>
</body>

</html>