body {
  background-image: url(background2.png);
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-image: im();

  font-family: 'Tajawal', sans-serif;
}
.title {
  font-family: 'Tajawal';
  font-style: normal;
  align-items: center;
  text-align: center;
   /* margin-left: 22em;  */
  color: #2180A5;

  font-weight: bold;
 

}




/*logo position*/
#logo {
  float: right;
}

/*styling navigation bar and footer*/
nav,
footer {
  color: #000000;
  text-align: center;
}

nav a,
footer a {
  font-size: 1.063em;
  color: #000000;

}


.col7 {
  float: left;

}

nav {

  width: 80%;
  float: right;
  margin: 1.5em 1em 2em 3em;
}

footer {
  padding-top: 5em;
}

nav a {
  text-decoration: none;
  float: right;
  padding: 1em 2.5em 3em;
}

nav a:hover,
footer a:hover,
.link:hover {
  color: #488FAA;
  cursor: pointer;
}

 .addp p,
.profile p,
.recpatient p {
  text-align: center;
  font-family: 'Tajawal';
  font-size: 2em;
  color: #2180A5;

} 

.p_age{
padding-top: 1.5em;
 text-align: center;
  font-family: 'Tajawal';
  font-size: 0.9em !important;
  color: #2180A5;
background: rgba(185, 177, 177, 0.12);
border-radius: 50px;
width: 15em !important; 
height: 4.5em !important;
}


form.recpatient {

  display: block;
  margin: 3% auto 15% auto;
  width: 30%;
  background-color: #ffffff;

  background-color: rgba(255, 255, 255, 0.5);
  /*text-align: center;*/
  border-radius: 2em;
  width: 47em !important;
  height: 55em;
  text-align: center;


}



.profile input[type=tel],
.profile input[type=email],
.profile input[type=password] {
  /* width: 85%; */

}

.row {
  margin: 0em;
  /* text-align: ; */
  font-family: 'Tajawal';
  font-size: 1em;
  color: #2180A5;
  margin-left: 15em;
}

#myFile {
  width: 35%;
  padding: 3.5%;
  border: 0;
  border-radius: 0.5em;
  margin-left: 2.5em;
}

::placeholder {
  font-size: 1.2em;
  text-align: center !important;

}

/* .row {
  display: block;
  text-align: center;
  margin: 2em;

} */

/* .col {
  margin-left: 1em;
  float: right;
  width: 16em;
  -webkit-padding-end: 3.4em;
  display: inline-block;

}

.col1 {
  margin: 0em;
  text-align: left;
  display: block;
} */

.col {

  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #0E0F1D;
}



/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  margin-left: 8em;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: white;
  border: 2px solid rgba(195, 195, 195, 0.5);
  border-radius: 0.3em;

}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 1.8em;
  left: 1em;

  border: 6px solid transparent;
  border-color: #A9A9A9 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  font-family: 'Font Awesome 5 Free';
  color: #A9A9A9;
  padding: 1em 1em 1em 1em;
  cursor: pointer;
  user-select: none;
  width: 16em;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  width: 18em;

  top: 100%;
  left: 0;
  right: 0;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);

}

/* home page for psycol*/

body.home {
  background-image: url(backpys0.png) !important;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-image: im();

  font-family: 'Tajawal', sans-serif;
}

form.servec {

  display: block;
  margin: 9em 0 5em 0;
  background-color: transparent;
  border-radius: 2em;
  width: 60em !important;
  text-align: left;


}

/*------------------------------*/
/*-------patientrec page-------*/
#search:hover{
  cursor: pointer;
}

form.recpatient {

  display: block;
  margin: 2% auto 15% auto;
  width: 30%;
  background-color: #ffffff;

  background-color: rgba(255, 255, 255, 0.9);
  /*text-align: center;*/
  border-radius: 2em;
  width: 47em !important;
  height: auto;
  text-align: center;
}

.se #search {
  color: white;
  background-color: #488FAA;
  width: 6em;
  height: 4em;
  padding: 1%;
  border: 0px solid rgba(195, 195, 195, 0.5);
  border-radius: 2em;
  margin-left: 1em;

}
.con{
  position: absolute;
  width: 1008px;
  height: 589px;
      margin-left: 15.9em;
     margin-top: 2em;
    background: rgba(255, 255, 255, 0.71);
    border-radius: 50px;
    text-decoration: none;
    align-items: center;
text-align:center;

}
.form-check-input{
  float: center;
  position: relative;
  font-family: 'Tajawal';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;
color: rgba(0, 0, 0, 0.5);

}
.labelin{
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: bold;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  
  

}
input {
  width: 15em; 
  height: 4em;
 padding: 0.7%; 
 margin-left: 2.5em;

}

.inputType {
 
  background-color: white;
border: 2px solid rgba(195, 195, 195, 0.5);
border-radius: 0.5em;
  direction: rtl;
  text-align: center;
  float: center;
  direction: rtl;
    margin-bottom: 3em;
  margin-left: 3.5em;
  color:rgba(0, 0, 0, 0.5);
}
.form-check{

  direction: rtl;
  text-align: center;
  float: center;
  direction: rtl;
  margin-bottom: 3em;
margin-left: 5em;


}
.button{
  font-family: 'Tajawal';
  font-size: 1em;
  background-color:  #2180A5;
  border: none;
  display: inline-block;
width: 25em  !important; 
margin-left: 19em;
  color: white;
  border-radius: 3em;
  box-shadow: 0.06em 0.06em #D7D7D7;
  padding: 0.5em 6em 0.5em 6em;
}  
.button:hover {
    background-color: #D3E6ED;
    cursor: pointer;
    box-shadow: .1em .1em 0.1em #D7D7D7;
  }
  
.button:disabled {
    background-color: #96c6bf;
  }


tr td:first-child {
  color: red;
}


#P_record {
  font-family: 'Tajawal', sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
  border-radius: 2em;
  font-weight: bolder !important;


}

#P_record td,
#P_record th {
  font-family: 'Tajawal', sans-serif;

  border: 0px solid #ddd;
  padding: 1.5em 1.5em 1.5em 1.5em;
  text-align: Right;

}

#P_record a:visited {
  color: Black;

}

#P_record tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#P_record tr:hover {
  background-color: #ddd;
}

#P_record th {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: Right;
  background-color: #488FAA;
  color: white;
}

#P_record a {
  text-decoration: none;
  float: right;
}

.massages{
  color: red;
}

/*------------------------------*/

/*
footer*
*
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);



.footer-distributed {
  background: #E6E3E8;
  box-shadow: 0 2em 2em 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;

  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  text-align: justify;
  font-size: 1em;
  font-weight: 10em;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left {
  float: left;
  display: inline-block;
}




/* Footer links */


.footer-distributed .footer-links a {
  display: flow-root;
  line-height: 0.5em;
  padding: 1em;
  font-size: 0.9em;
  font-family: 'Tajawal';
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-links2 a {
  display: flow-root;
  line-height: 0.5em;
  padding: 1em;

  font-size: 0.9em;
  font-family: 'Tajawal';
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-links3 a {
  display: flow-root;
  line-height: 0.5em;
  padding: 1em;
  float: right;

  font-size: 0.9em;
  font-family: 'Tajawal';
  text-decoration: none;
  color: inherit;
}

#h {
  color: #0E0F1D;
  font-size: 1.2em;

}


.footer-distributed .footer-company-name {
  color: #0E0F1D;
  font-size: 1em;
  font-weight: normal;

}

/* Footer social icons */


.footer-distributed h3 {
  color: #0E0F1D;
  font: bold 1em 'Tajawal', sans-serif;


}

.footer-distributed .footer-icons a {

  display: contents;
  width: auto;
  height: 0em;
  cursor: pointer;
  font-size: 2em;
  line-height: 1em;

}

/* Footer Right */

.footer-distributed .footer-right {
  float: right;

}

.footer-distributed .footer-right p {
  display: flow-root;
  vertical-align: top;
  margin-left: 8em;
  color: #0E0F1D;
}


.footer-icons a:hover,
.footer-links a:hover,
.footer-links2 a:hover,
.footer-links3 a:hover,
.link:hover {
  color: #488FAA;
  cursor: pointer;
}




/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name {
    font-size: 12px;
  }



}

@media (max-width: 800px) {

  .footer-distributed {
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left {
    margin-bottom: 40px;
  }
}